{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
        <li>
            <input type="button" onclick="location.href='{% url 'polls:random' %}';" value="Random question" />
        </li>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    <p>
        <a href="{% url 'polls:overview' %}">Overview</a>
    </p>
{% else %}
    <p>No polls are available.</p>
{% endif %}
